/*-- scss:defaults --*/
// Base document colors
$body-bg: #ffffff;
$body-color: #2b2d42;
$link-color: #023047;


.navbar {
  background-color: $body-bg !important;
  color: #023047 !important;
}

.navbar-title {
  color: #023047 !important;
}

.sidebar {
  background-color: $body-bg !important;
  color: #023047 !important;
}

.sidebar-item-text {
  color: #023047 !important;
}

.sidebar-item-text:hover {
  color: #023047 !important;
}

.sidebar-item-text:active {
  color: #023047 !important;
}

.sidebar-item-text:focus {
  color: #023047 !important;
}